@model ICollection<AspNetUserRoleViewModel>

@{ViewData["Title"] = "All Users and Roles";}

<h2 class="display-4">Users and Roles : </h2>
<div class="row">

    <table class="table">
        <thead class="badge-info">
            <tr>
                <th scope="col">UserName</th>
                <th scope="col">RoleName</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
            <tr>

                <td>@user.User.UserName</td>
                <td>
                    @foreach (var role in user.UserRoles)
                    {
                        @role<br>
                    }
                </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        @Html.ActionLink("Delete", "DeleteUserRoles", "Users",
                        new { id = user.User.Id, area = "Admin" },
                        new { @class = "btn btn-danger", onclick = "alert('This Row Will be Deleted');" })
                    </td>
                }
            </tr>
             }
         </tbody>
     </table>
</div>


