@model AspNetRoles

@{ViewData["Title"] = "Add Roles";}

<h2 class="text-center">Add Roles</h2>

<partial name="_RoleFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}