@model AspNetRoles

@{ViewData["Title"] = "Edit Roles";}

<h2 class="text-center">Edit Roles</h2>

<partial name="_RoleFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}