@model CourseFormModel

@{ViewData["Title"] = "Add Courses";}

<h2 class="text-center">Add Courses</h2>

<partial name="_CourseFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


