@model IEnumerable<AllCourseViewModel>

@{ViewData["Title"] = "All Courses";}

<h2 class="display-4">Courses : </h2>
<div class="row">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">CourseId</th>
                <th scope="col">Teacher</th>
                <th scope="col">Subject</th>
                <th scope="col">TypeSubject</th>
               
            </tr>
        </thead>
        @foreach (var cs in Model)
        {
            <tbody>
                <tr>
                    <td>@cs.CourseId</td>
                    <td>@cs.TeacherName</td>
                    <td>@cs.SubjectName</td>
                    <td>@cs.TypeSubjectName</td>
                </tr>
            </tbody>
        }
    </table>

</div>