@model CourseFormModel

@{ViewData["Title"] = "Edit Course";}

<h2 class="text-center">Edit Course</h2>

<partial name="_CourseFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}