@model GradeFormModel

@{ViewData["Title"] = "Edit Grade";}

<h2 class="text-center">Edit Grade</h2>

<partial name="_GradeFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}