@model StudentFormModel

@{ViewData["Title"] = "Edit Student";}

<h2 class="text-center">Edit Student</h2>

<partial name="_StudentFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}