@model TeacherFormModel

@{ViewData["Title"] = "Add Teachers";}

<h2 class="text-center">Add Teachers</h2>

<partial name="_TeacherFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}