@model TeacherFormModel

@{ViewData["Title"] = "Edit Teacher";}

<h2 class="text-center">Edit Teacher</h2>

<partial name="_TeacherFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


