@model AspNetUserClaims

@{ViewData["Title"] = "Add UserClaims";}

<h2 class="text-center">Add UserClaims</h2>

<partial name="_ClaimFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}