@model AspNetUserClaims

@{ViewData["Title"] = "Edit UserClaims";}

<h2 class="text-center">Edit UserClaims</h2>

<partial name="_ClaimFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}