@model SubjectFormModel

@{ViewData["Title"] = "Add Subjects";}

<h2 class="text-center">Add Subjects</h2>

<partial name="_SubjectFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
