@model IEnumerable<AddSubjectFormModel>

@{ViewData["Title"] = "All Subjects";}

<h2 class="display-4">Subjects : </h2>
<div class="row">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">SubjectId</th>
                <th scope="col">Name</th>
            </tr>
        </thead>
        @foreach (var sbj in Model)
        {
            <tbody>
                <tr>
                    <td>@sbj.SubjectId</td>
                    <td>@sbj.Name</td>
                </tr>
            </tbody>
        }
    </table>

</div>
