@model IEnumerable<SubjectFormModel>

@{ViewData["Title"] = "All Subjects";}

<h2 class="display-4">Subjects : </h2>
<div class="row">

    <table class="table">
        <thead class="badge-info">
            <tr>
                <th scope="col">SubjectId</th>
                <th scope="col">Name</th>
            </tr>
        </thead>
        @foreach (var sbj in Model)
        {
            <tbody>
                <tr>
                    <td>@sbj.SubjectId</td>
                    <td>@sbj.Name</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Subjects",
                       new { id = sbj.SubjectId },
                       new { @class = "btn btn-success"})
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", "Subjects",
                       new { id = sbj.SubjectId },
                       new { @class = "btn btn-danger", onclick = "alert('This Row Will be Deleted');" })
                    </td>
                </tr>
            </tbody>
        }
    </table>

</div>
