<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Best School system Shkolo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Shkolo </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="dropdown nav-item">
                                <button class="btn btn-secondary dropdown-toggle m-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    ADMIN
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="nav-link dropdown-item" asp-area="Admin" asp-controller="Users" asp-action="All">All Users</a>
                                    <a class="nav-link dropdown-item" asp-area="Admin" asp-controller="Roles" asp-action="All">All Roles</a>
                                    <a class="nav-link dropdown-item" asp-area="Admin" asp-controller="Claims" asp-action="All">All Claims</a>
                                    <a class="nav-link dropdown-item" asp-area="Admin" asp-controller="Users" asp-action="Add">Add Users</a>
                                    <a class="nav-link dropdown-item" asp-area="Admin" asp-controller="Roles" asp-action="Add">Add Roles</a>
                                    <a class="nav-link dropdown-item" asp-area="Admin" asp-controller="Claims" asp-action="Add">Add Claims</a>
                                </div>
                            </li>
                        }
                        @if (User.IsInRole("Admin") || User.IsInRole("Teacher"))
                        {
                            <li class="dropdown nav-item">
                                <button class="btn btn-secondary dropdown-toggle m-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    ADD
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="nav-link dropdown-item" asp-area="" asp-controller="Grades" asp-action="Add">Add Grade</a>
                                    <a class="nav-link dropdown-item" asp-area="" asp-controller="ScheduleHours" asp-action="Add">Add Schedule Hour</a>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <a class="nav-link dropdown-item" asp-area="" asp-controller="Students" asp-action="Add">Add Student</a>
                                        <a class="nav-link dropdown-item" asp-area="" asp-controller="Teachers" asp-action="Add">Add Teacher</a>
                                        <a class="nav-link dropdown-item" asp-area="" asp-controller="Subjects" asp-action="Add">Add Subject</a>
                                        <a class="nav-link dropdown-item" asp-area="" asp-controller="Schedules" asp-action="Add">Add Schedule</a>
                                        <a class="nav-link dropdown-item" asp-area="" asp-controller="Courses" asp-action="Add">Add Course</a>
                                    }
                                </div>
                            </li>
                        }

                        <li class="dropdown nav-item">
                            <button class="btn btn-secondary dropdown-toggle m-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                ALL
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="nav-link dropdown-item" asp-area="" asp-controller="Teachers" asp-action="All">All Teachers</a>
                                <a class="nav-link dropdown-item" asp-area="" asp-controller="Subjects" asp-action="All">All Subjects</a>
                                <a class="nav-link dropdown-item" asp-area="" asp-controller="Courses" asp-action="All">All Courses</a>
                                <a class="nav-link dropdown-item" asp-area="" asp-controller="Schedules" asp-action="All">All Schedules</a>

                                @if (User.IsInRole("Admin") || User.IsInRole("Teacher"))
                                {
                                    <a class="nav-link dropdown-item" asp-area="" asp-controller="Students" asp-action="All">All Students</a>
                                    <a class="nav-link dropdown-item" asp-area="" asp-controller="Grades" asp-action="All">All Grades</a>
                                    <a class="nav-link dropdown-item" asp-area="" asp-controller="ScheduleHours" asp-action="All">All Schedule Hours</a>
                                    <a class="nav-link dropdown-item" asp-area="" asp-controller="Students" asp-action="StudentAbsences">All Absences</a>
                                }
                            </div>
                        </li>

                        @if (User.IsInRole("Admin") || User.IsInRole("Teacher") || User.IsInRole("Student"))
                        {
                            <li class="dropdown nav-item">
                                <button class="btn btn-secondary dropdown-toggle m-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    View
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="nav-link dropdown-item" asp-area="" asp-controller="Grades" asp-action="GradesStudent">View Student Grades</a>
                                    <a class="nav-link dropdown-item" asp-area="" asp-controller="Grades" asp-action="GradesSubject">View Subject Grades</a>
                                    <a class="nav-link dropdown-item" asp-area="" asp-controller="Students" asp-action="StudentAbsencesCount">View Student Absences</a>
                                </div>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.UtcNow.Year- Shkolo  
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
