@model ScheduleHourFormModel

@{ViewData["Title"] = "Add Schedule Hours";}

<h2 class="text-center">Add Schedule Hours</h2>

<partial name="_ScheduleHourFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

