@model ScheduleHourFormModel

@{ViewData["Title"] = "Edit ScheduleHour";}

<h2 class="text-center">Edit ScheduleHour</h2>

<partial name="_ScheduleHourFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

